body {
  background-color: #121212;
  color: white;
}
/* Sidebar */
.sidebar {
  height: 100vh;
  position: sticky;
  top: 0;
  overflow-y: auto;
  background-color: #252526;
  border-right: 1px solid #333;
}

.sidebar h5 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.sidebar li {
  font-size: 0.9rem;
  cursor: pointer;
  transition: color 0.2s ease;
}

.sidebar li:hover {
  color: #ff5a5f;
}

/*card*/
.card {
  max-width: 250px;
  height: 320px;
  overflow: hidden;
  background-color: #1e1e1e;
  border: none;
  border-radius: 12px;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card-body {
  padding: 1rem;
  text-align: left;
}

.card-title {
  font-size: 1rem;
  margin: 0;
  color: #fff;
}

.card-text {
  font-size: 0.9rem;
  color: #b3b3b3;
}
